amcart-core/amcart-notifications/.settings/
amcart-core/amcart-notifications/target/
amcart-core/amcart-notifications/.classpath
amcart-core/amcart-notifications/.project
amcart-core/amcart-core-amqp/.classpath
amcart-core/amcart-core-amqp/.project
amcart-core/amcart-core-amqp/.settings/
amcart-core/amcart-core-amqp/target/
amcart-notifications/target/
amcart-notifications/.classpath
amcart-notifications/.project
amcart-notifications/.project
amcart-notifications/.classpath
amcart-notifications/.settings/
amcart-ordermanagement/.classpath
amcart-ordermanagement/.project
amcart-ordermanagement/.settings/
amcart-ordermanagement/target/
/.metadata/
/.recommenders/
