<div class="pg-body">
    <div class="container">
        <br />
        <div class="row">
            <!-- <div class="container checkout-menu">
                <a href="" class="btn btn-third-col col-sm-3 col-xs-12">ORDER COMPLETE</a>
                <a href="" class="btn btn-yet-col col-sm-3 col-xs-12">PAYMENT METHOD</a>
                <a href="" class="btn btn-yet-col col-sm-3 col-xs-12">BILLING &amp; SHIPPING</a>
                <a href="" class="btn btn-yet-col col-sm-3 col-xs-12">CHECKOUT OPTION</a>
            </div> -->
            <h2 class="col-xs-12 thank-you">Thank you. Your order has been received</h2>
            <div class="col-md-8 col-xs-12">
                <div class="table_block table-responsive mb-40 clearfix" id="order-detail-content">
                    <order-products-summary *ngIf="componentReady" [orderItems]="order.orderItems">
                    </order-products-summary>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 pull-right">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="contact-info">
                            <h6><span class="icon-users"></span>CUSTOMERS DETAIL</h6>
                            <p>E-mail: {{order.billingAddress.email}}</p>
                            <p>Phone: <span>{{order.billingAddress.phone}}</span></p>
                            <div class="hr"></div>
                            <h6><span class="icon-home"></span>BILLING ADDRESS</h6>
                            <order-view-address [address]="order.billingAddress"></order-view-address>
                            <div class="hr"></div>
                            <h6><span class="icon-plane"></span>SHIPPING ADDRESS</h6>
                            <order-view-address [address]="order.shippingAddress"></order-view-address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="row">
                    <div class="bottom-buttons">
                        <div class="col-sm-4 col-sm-offset-8 col-xs-12 col-xs-offset-0">
                            <a class="btn btn-md btn-third-col left-arrow-btn" [routerLink]="['/']">BACK TO SHOPPING</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="gap-70 col-xs-12"></div>
        </div>
    </div>
</div>