<div class="pg-body">
   <div class="container">
      <div class="row">
         <div class="gap-60"></div>
         <div class="col-md-8 col-xs-12">
            <div class="table_block table-responsive mb-40" id="order-detail-content">
               <table class="table table-bordered" id="cart_summary">
                  <thead>
                     <tr>
                        <th colspan="2" class="cart_product first_item">Product name</th>
                        <th class="cart_unit item">Price</th>
                        <th class="cart_quantity item">QUANTITY</th>
                        <th class="cart_delete last_item">SUBTOTAL</th>
                     </tr>
                  </thead>
                  <tfoot class="dd-list-empty"><tr><td colspan="5" *ngIf="!cartData">There is no product in it!</td></tr></tfoot>
                  <tbody class="dropdown-product-list">

                     <tr class="cart_item dd-product-group" *ngFor="let product of cartData">
                        <!-- <app-cart-product [product]=product></app-cart-product> -->
                        <td class="cart_product">
                              <a [routerLink]="['/product-detail', product?.id]">
                                 <img alt="Faded Short Sleeve T-shirts" src="images/prd-1.jpg">
                              </a>
                           </td>
                           <td class="cart_description">
                              <p class="product-name">
                                 <a href="product-page.html">{{product?.productName}}</a>
                              </p>
                              <!-- <small>Size: <span>{{}}</span></small> -->
                              <small>Color: <span>{{product?.color}}</span></small>
                              <small>Product Code: <span>{{product?.productId}}</span></small>
                           </td>
                           <td data-title="PRICE" class="cart_unit">
                              <span class="price">${{product?.price}}</span>
                           </td>
                        
                           <td class="cart_quantity text-center">
                              <div class="cart_quantity_button clrfix">
                                 <button title="Subtract" (click)="reduceCount(quantity)" class="cart_quantity_input form-control grey btn-minus" rel="nofollow">-</button>
                                 <input type="text" [(ngModel)]="quantity" [value]=product?.quantity class="cart_quantity_input form-control grey count" autocomplete="off" size="2" disabled>
                                 <button title="Add" (click)="addCount(quantity)" class="cart_quantity_input form-control grey cart-plus" rel="nofollow">+</button>
                              </div>
                           </td>
                           <td class="subtotal text-center" data-title="SUBTOTAL">
                              <a class="close-btn ddr" href="#"><i class="icon_close"></i></a>
                              <p>$ {{product?.price}}</p>
                           </td>
                     </tr>
                     <!-- <tr class="cart_item first_item address_0 odd dd-product-group">
                        <td class="cart_product">
                           <a href="product-page.html">
                              <img alt="Faded Short Sleeve T-shirts" src="images/prd-1.jpg">
                           </a>
                        </td>
                        <td class="cart_description">
                           <p class="product-name">
                              <a href="product-page.html">Majestic Beecroft Sweater For Him</a>
                           </p>
                           <small>Size: <span>XL</span></small>
                           <small>Color: <span>Red</span></small>
                           <small>Product Code: <span>12658472</span></small>
                        </td>
                        <td data-title="PRICE" class="cart_unit">
                           <span class="price">$800.00</span>
                        </td>

                        <td class="cart_quantity text-center">
                           <div class="cart_quantity_button clrfix">
                              <a title="Subtract" href="#" class="cart_quantity_down btn btn-default btn-minus" rel="nofollow">-</a>
                              <input type="text" name="quantity" value="1" class="cart_quantity_input form-control grey count" autocomplete="off" size="2" disabled>
                              <a title="Add" href="#" class="cart_quantity_up btn btn-default btn-plus" rel="nofollow">+</a>
                           </div>
                        </td>
                        <td class="subtotal text-center" data-title="SUBTOTAL">
                           <a class="close-btn ddr" href="#"><i class="icon_close"></i></a>
                           <p>$ 800.00</p>
                        </td>
                     </tr>

                     <tr class="cart_item first_item address_0 odd dd-product-group">
                        <td class="cart_product">
                           <a href="product-page.html">
                              <img alt="Faded Short Sleeve T-shirts" src="images/prd-2.jpg">
                           </a>
                        </td>
                        <td class="cart_description">
                           <p class="product-name">
                              <a href="product-page.html">Majestic Beecroft Sweater For Him</a>
                           </p>
                           <small>Size: <span>XL</span></small>
                           <small>Color: <span>Red</span></small>
                           <small>Product Code: <span>12658472</span></small>
                        </td>
                        <td data-title="PRICE" class="cart_unit">
                           <span class="price">$800.00</span>
                        </td>

                        <td class="cart_quantity text-center">
                           <div class="cart_quantity_button clrfix">
                              <a title="Subtract" href="#" class="cart_quantity_down btn btn-default btn-minus" rel="nofollow">-</a>
                              <input type="text" name="quantity" value="1" class="cart_quantity_input form-control grey count" autocomplete="off" size="2" disabled>
                              <a title="Add" href="#" class="cart_quantity_up btn btn-default btn-plus" rel="nofollow">+</a>
                           </div>
                        </td>
                        <td class="subtotal text-center" data-title="SUBTOTAL">
                           <a class="close-btn ddr" href="#"><i class="icon_close"></i></a>
                           <p>$ 800.00</p>
                        </td>
                     </tr>
                     <tr class="cart_item first_item address_0 odd dd-product-group">
                        <td class="cart_product">
                           <a href="product-page.html">
                              <img alt="Faded Short Sleeve T-shirts" src="images/prd-3.jpg">
                           </a>
                        </td>
                        <td class="cart_description">
                           <p class="product-name">
                              <a href="product-page.html">Majestic Beecroft Sweater For Him</a>
                           </p>
                           <small>Size: <span>XL</span></small>
                           <small>Color: <span>Red</span></small>
                           <small>Product Code: <span>12658472</span></small>
                        </td>
                        <td data-title="PRICE" class="cart_unit">
                           <span class="price">$800.00</span>
                        </td>

                        <td class="cart_quantity text-center">
                           <div class="cart_quantity_button clrfix">
                              <a title="Subtract" href="#" class="cart_quantity_down btn btn-default btn-minus" rel="nofollow">-</a>
                              <input type="text" name="quantity" value="1" class="cart_quantity_input form-control grey count" autocomplete="off" size="2" disabled>
                              <a title="Add" href="#" class="cart_quantity_up btn btn-default btn-plus" rel="nofollow">+</a>
                           </div>
                        </td>
                        <td class="subtotal text-center" data-title="SUBTOTAL">
                           <a class="close-btn ddr" href="#"><i class="icon_close"></i></a>
                           <p>$ 800.00</p>
                        </td>
                     </tr>
                     <tr class="cart_item first_item address_0 odd dd-product-group">
                        <td class="cart_product">
                           <a href="product-page.html">
                              <img alt="Faded Short Sleeve T-shirts" src="images/prd-4.jpg">
                           </a>
                        </td>
                        <td class="cart_description">
                           <p class="product-name">
                              <a href="product-page.html">Majestic Beecroft Sweater For Him</a>
                           </p>
                           <small>Size: <span>XL</span></small>
                           <small>Color: <span>Red</span></small>
                           <small>Product Code: <span>12658472</span></small>
                        </td>
                        <td data-title="PRICE" class="cart_unit">
                           <span class="price">$800.00</span>
                        </td>

                        <td class="cart_quantity text-center">
                           <div class="cart_quantity_button clrfix">
                              <button title="Subtract" (click)="reduceCount(quantity)" class="cart_quantity_input form-control grey btn-minus" rel="nofollow">-</button>
                              <input type="text" [(ngModel)]="quantity" value="1" class="cart_quantity_input form-control grey count" autocomplete="off" size="2" disabled>
                              <button title="Add" (click)="addCount(quantity)" class="cart_quantity_input form-control grey cart-plus" rel="nofollow">+</button>
                           </div>
                        </td>
                        <td class="subtotal text-center" data-title="SUBTOTAL">
                           <a class="close-btn ddr" href="#"><i class="icon_close"></i></a>
                           <p>$ 800.00</p>
                        </td>
                     </tr> -->
                  </tbody>
               </table>
            </div>
         </div>
         <div class="col-md-4 col-xs-12 pull-right">
            <div class="row">
               <div class="container col-xs-12 cart-detail">
                  <h6 class="gold-header">CART DETAIL</h6>
                  <p class="info"><span class="pull-left col-xs-6">Cart Subtotal:</span><span class="pull-right col-xs-6 text-right">$2100.00</span></p>
                  <p class="info"><span class="pull-left col-xs-6">Shipping:</span><span class="pull-right col-xs-6 text-right gray">Free Shipping</span></p>
                  <p class="info total"><span class="pull-left col-xs-6">ORDER TOTAL:</span><span class="col-xs-6 pull-right text-right">$2100.00</span></p>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12"><h6 class="gold-header">CALCULATE SHIPPING</h6></div>
               <div class="container col-xs-12">
                  <div class="calc-shipping clearfix">
                     <div class="required form-group col-xs-12">
                        <select class="form-control s-styled hasCustomSelect" name="shipping_country">
                           <option selected hidden>Country</option>
                           <option value="1">01</option>
                           <option value="2">02</option>
                           <option value="3">03</option>
                           <option value="4">04</option>
                           <option value="5">05</option>
                           <option value="6">06</option>
                           <option value="7">07</option>
                           <option value="8">08</option>
                           <option value="9">09</option>
                           <option value="10">10</option>
                           <option value="11">11</option>
                           <option value="12">12</option>
                           <option value="13">13</option>
                           <option value="14">14</option>
                           <option value="15">15</option>
                           <option value="16">16</option>
                           <option value="17">17</option>
                           <option value="18">18</option>
                           <option value="19">19</option>
                           <option value="20">20</option>
                           <option value="21">21</option>
                           <option value="22">22</option>
                           <option value="23">23</option>
                           <option value="24">24</option>
                           <option value="25">25</option>
                           <option value="26">26</option>
                           <option value="27">27</option>
                           <option value="28">28</option>
                           <option value="29">29</option>
                           <option value="30">30</option>
                           <option value="31">31</option>
                        </select>
                     </div>
                     <div class="required form-group col-xs-12">
                        <select class="form-control s-styled hasCustomSelect" name="shipping_state">
                           <option selected hidden>Select state</option>
                           <option value="1">01</option>
                           <option value="2">02</option>
                           <option value="3">03</option>
                           <option value="4">04</option>
                           <option value="5">05</option>
                           <option value="6">06</option>
                           <option value="7">07</option>
                           <option value="8">08</option>
                           <option value="9">09</option>
                           <option value="10">10</option>
                           <option value="11">11</option>
                           <option value="12">12</option>
                           <option value="13">13</option>
                           <option value="14">14</option>
                           <option value="15">15</option>
                           <option value="16">16</option>
                           <option value="17">17</option>
                           <option value="18">18</option>
                           <option value="19">19</option>
                           <option value="20">20</option>
                           <option value="21">21</option>
                           <option value="22">22</option>
                           <option value="23">23</option>
                           <option value="24">24</option>
                           <option value="25">25</option>
                           <option value="26">26</option>
                           <option value="27">27</option>
                           <option value="28">28</option>
                           <option value="29">29</option>
                           <option value="30">30</option>
                           <option value="31">31</option>
                        </select>
                     </div>
                     <div class="required form-group col-xs-12">
                        <select class="form-control s-styled hasCustomSelect" name="shipping_zip_code">
                           <option selected hidden>Postal zip code</option>
                           <option value="1">01</option>
                           <option value="2">02</option>
                           <option value="3">03</option>
                           <option value="4">04</option>
                           <option value="5">05</option>
                           <option value="6">06</option>
                           <option value="7">07</option>
                           <option value="8">08</option>
                           <option value="9">09</option>
                           <option value="10">10</option>
                           <option value="11">11</option>
                           <option value="12">12</option>
                           <option value="13">13</option>
                           <option value="14">14</option>
                           <option value="15">15</option>
                           <option value="16">16</option>
                           <option value="17">17</option>
                           <option value="18">18</option>
                           <option value="19">19</option>
                           <option value="20">20</option>
                           <option value="21">21</option>
                           <option value="22">22</option>
                           <option value="23">23</option>
                           <option value="24">24</option>
                           <option value="25">25</option>
                           <option value="26">26</option>
                           <option value="27">27</option>
                           <option value="28">28</option>
                           <option value="29">29</option>
                           <option value="30">30</option>
                           <option value="31">31</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-8 col-xs-12">
            <div class="row">
               <form action="#"  class="form-inline bottom-buttons">
                  <div class="col-lg-6 col-xs-12">
                     <div class="row">
                        <div class="form-group col-xs-7 col-sm-8">
                           <input type="text" name="coupon" placeholder="Enter coupon" class="form-control placeholder-fix">
                        </div>
                        <div class="col-xs-5 col-sm-4">
                           <button class="btn btn-md btn-third-col">APPLY</button>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-xs-12">
                     <div class="row">
                        <div class="col-sm-5 col-xs-12">
                           <button class="btn btn-md btn-third-col" (click)="updateCart(product)">UPDATE CART</button>
                        </div>
                        <div class="col-sm-7 col-xs-12">
                           <a [routerLink]="['/checkout']" class="btn btn-md btn-third-col btn-w100" >PROCEED TO CHECKOUT</a>
                           <!-- <button class="btn btn-md btn-sec-col">PROCEED TO CHECKOUT</button> -->
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>

         <div class="gap-70 col-xs-12"></div>
      </div>
   </div>
</div> <!-- pg-body -->