<div class="pg-body">
       <div class="container">
          <div class="gap-50"></div>
          <div class="text-center">
             <ul class="product-categories moving-hover-line" role="tablist">
                <li class="active"><a href="#pl-new-products" role="tab" data-toggle="tab">New Products</a></li>
                <li><a href="#pl-featured" role="tab" data-toggle="tab">Featured</a></li>
                <li><a href="#pl-bestsellers" role="tab" data-toggle="tab">Bestsellers</a></li>
                <li class="hover-line"></li>
             </ul>
          </div>
          <div class="tab-content tab-no-style">
             <div class="tab-pane fade in active" id="pl-new-products">
                <div class="products-list pl-carousel">
                   <div class="pl-controls">
                      <a href="#" class="pl-ctl-left"></a>
                      <a href="#" class="pl-ctl-right"></a>
                   </div>
                   <ul class="pl-pages">
                      <li class="active">
                         <div class="row" >
                              <div class="col-md-3 col-sm-6 pl-item" 
                              *ngFor="let product of products | paginate: { itemsPerPage: 8, currentPage: p }">
                                    <!--For loop for products and list here by ngFor---->
                               <app-product [product]=product>
                              </app-product>

                           </div>
                        </div>
                      </li>
                   </ul>
                   <div class="pl-controls plc-bottom">

                     <pagination-controls (pageChange)="p = $event">
                     </pagination-controls>

                   </div>
                </div>
             </div>
          </div>
       </div>
    


 </div> <!-- pg-body -->
